@import "../../styles/variables.scss";

.patents-current-year {

    &__title {
        @include h1;
        margin-bottom: 24px;
    }

    &__slider {
        position: relative;


        &__item {
            display: flex;
            column-gap: 24px;
            padding: 16px;
            max-width: 380px;
            @include shadow;
            @include border;

            &__img {
                min-width: 72.73px;
            }

            &__inner {

                &__text {
                    font-weight: 500;
                    color: $secondary;
                    font-size: 14px;

                    margin-bottom: 24px;
                }

                &__wrapper {
                    display: flex;
                    justify-content: space-between;

                    &__date {
                        font-size: 14px;
                        color: $secondary
                    }

                    &__link {
                        @include link;

                        &:hover {
                            color: $secondary;
                        }
                    }
                }
            }
        }

        &__btn {
            position: absolute;
            top: 40%;
            right: -20px;
            transform: translateY(-40%);

            width: 48px;
            height: 48px;
            @include shadow;

            border-radius: 50%;

            z-index: 100;
        }
    }
}

@media(max-width:1093px) {
    .patents-current-year__slider__btn {
        display: none;
    }

}

@media(max-width:576px) {
    .patents-current-year__slider__item {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }

    .patents-current-year__slider__item__img {
        width: 59.5px;
    }
}