@import "../../styles/variables.scss";

.breadcrumbs {
    margin: 32px 0 24px;

    display: flex;
    flex-direction: row-reverse;
    overflow: auto;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;

    }

    &__inner {
        display: flex;
        gap: 8px;

        &__link {
            white-space: nowrap;
            color: $gray;
            position: relative;

            &:hover {
                color: $gray ;
            }

            &:not(:first-child):before {
                content: "/";
                display: inline-block;
                margin-right: 8px;
            }

            &:not(:first-child, :nth-child(2), :nth-child(3)) {
                text-overflow: ellipsis;
                overflow: hidden;
            }

        }

    }
}